<%= form_with(url: update_grade_path(grade: @grade), remote: true) do |f| %>
  <%= f.text_field :grade_avg, required: true, disabled: !current_user.teacher?, class:"materialize-textarea", maxlength:"3" %>
<% end %>