<div class="container">
  <div class="row center sign-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h2 class="header">Edit profile</h2>
        <div class="row">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="input-field col s6">
              <%= f.text_field :first_name, required: true, disabled: !current_user.admin?, class:"materialize-textarea", maxlength:"50" %>
              <%= f.label :first_name %>
            </div>

            <div class="input-field col s6">
              <%= f.text_field :last_name, required: true, disabled: !current_user.admin?, class:"materialize-textarea", maxlength:"50" %>
              <%= f.label :last_name %>
            </div>

            <div class="input-field col s6">
              <%= f.text_field :username, required: true, disabled: !current_user.admin?, class:"materialize-textarea", maxlength:"50" %>
              <%= f.label :username %>
            </div>

            <div class="input-field col s6">
              <div class=<%= 'disabled' if !current_user.admin? %>>
                <%= f.select :role, options_for_select([:Student, :Teacher]), :include_blank => false, :prompt => 'Choose role' %>
                </div>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Update" %>
            </div>
          <% end %>

          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
