<div class="container">
  <div class="row center sign-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h2 class="header">Sign up</h2>
        <div class="row">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "col s12" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="input-field col s6">
              <%= f.text_field :first_name, required: true, class:"materialize-textarea", maxlength:"50" %>
              <%= f.label :first_name %>
            </div>
            <div class="input-field col s6">
              <%= f.text_field :last_name, required: true, class:"materialize-textarea", maxlength:"50" %>
              <%= f.label :last_name %>
            </div>

            <div class="input-field col s12">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="input-field col s12">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="input-field col s12">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="input-field col s12">
              <%= f.select :role, options_for_select([:Student, :Teacher]), :include_blank => false, :prompt => 'Choose role' %>
            </div>

            <button class="btn cyan darken-1 waves-effect waves-light" type="submit" name="action">Sign up
              <i class="material-icons right">send</i>
            </button>
            <br/>
          <% end %>

          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</div>