<% if resource.errors.any? %>
  <div class="container">
    <div class="row center sign-form">
      <div class="col s12 m12 l12">
        <div class="card-panel red lighten-2" id="fade-out-panel">
        <span class="text-white">
          <div id="error_explanation">
            <h4>
              <%= I18n.t("errors.messages.not_saved",
                        count: resource.errors.count,
                        resource: resource.class.model_name.human.downcase)
              %>
            </h4>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </span>
      </div>
    </div>
  </div>
<% end %>
