<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'All Courses', courses_path %></li>
  <% if user_signed_in? %>
    <% if current_user.student? %>
      <li><%= link_to 'Enrollments', enrollments_path %></li>
    <% elsif current_user.teacher? %>
      <li><%= link_to 'My Courses', my_courses_path %></li>
      <% if can? :create, Course %>
        <li class="divider" tabindex="-1"></li>
        <li><%= link_to 'Create Course', new_course_path %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><%= link_to 'All Users', admin_users_path %></li>
</ul>

<nav class='orange darken-1'>
  <div class="container">
    <div class="nav-wrapper">
      <%= link_to root_path, class: 'brand-logo right' do %>SI - University<% end %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <% if user_signed_in? %>
        <ul class="left hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Courses<i class="material-icons right">arrow_drop_down</i></a></li>
            <% if current_user.admin? %>
              <li><%= link_to 'All Users', admin_users_path %></li>
            <% end %>
            <li><%= link_to "<i class='material-icons right'>person</i>#{current_user.first_name + ' ' + current_user.last_name}".html_safe, edit_user_registration_path %></li>
            <li><%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %></li>
          <% end %>
        </ul>
        <% else %>
          <ul class="left hide-on-med-and-down">
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          </ul>
      <% end %>

      <ul class="sidenav" id="mobile-demo">
        <% if user_signed_in? %>
          <li><div class="user-view">
            <div class="background">
            </div>
            <a href="#user"><img class="circle" src="assets/avatar.png"></a>
            <a href="#name"><span class="white-text name"><%= current_user.username %></span></a>
            <a href="#email"><span class="white-text email"><%= current_user.email %></span></a>
          </div></li>
          <li><%= link_to 'All Courses', courses_path %></li>
          <% if current_user.student? %>
            <li><%= link_to 'Enrollments', enrollments_path %></li>
          <% elsif current_user.teacher? %>
            <li><%= link_to 'My Courses', my_courses_path %></li>
            <% if can? :create, Course %>
              <li><%= link_to 'Create Course', new_course_path %></li>
            <% end %>
          <% end %>
          <% if current_user.admin? %>
            <li><%= link_to 'All Users', admin_users_path %></li>
          <% end %>
          <li><div class="divider"></div></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>Log out<% end %></li>
        <% else %>
          <li><%= link_to '<i class="material-icons">person_add</i> Sign up '.html_safe, new_user_registration_path %></li>
          <li><%= link_to '<i class="material-icons">account_box</i> Log in '.html_safe, new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>