<div class="parallax-container">
  <div class="parallax"><img src="assets/university-postal.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Welcome to SI - University</h2>
    <p class="grey-text text-darken-3 lighten-3">Complete System Information to search and enroll your courses. Track your grades and keep up to date with University annoucements.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="assets/university-postal.jpg"></div>
</div>