<div class="container" id="home-container">
<div class="carousel carousel-slider center z-depth-5">
  <a class="carousel-item" href="#one!"><img src="assets/university.jpg"></a>
  <a class="carousel-item" href="#two!"><img src="assets/students.jpg"></a>
  <a class="carousel-item" href="#three!"><img src="assets/study.jpg"></a>
  <a class="carousel-item" href="#four!"><img src="assets/group.jpg"></a>
  <a class="carousel-item" href="#five!"><img src="assets/sport.jpg"></a>
</div>
</div>

