<div class="container">
  <div class="row center sign-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <h2 class="header">Log in</h2>
        <div class="row">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <label>
                  <%= f.check_box :remember_me, id:"remember_me" %>
                  <span><%= f.label :remember_me %></span>
                </label>
              </div>

            <% end %>

            <button class="btn cyan darken-1 waves-effect waves-light" type="submit" name="action">Log in
            </button>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
