<div class="col s12 m6">
  <div class="course-card card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title"><%= course.name %></span>
      <%= link_to '<i class="material-icons">add</i>'.html_safe,
        course_path(course),
        class: "btn-floating halfway-fab waves-effect waves-light orange darken-1" %>
      <p><%= truncate(course.description, length: 120) %></p>
    </div>
    <div class="card-action">
      <% if (can? :enroll, Grade) && current_user.student? && !current_user.courses.include?(course) %>
        <%= link_to 'Enroll', enroll_path(course_id: course.id, user_id: current_user.id), method: :post %>
      <% end %>
    </div>
  </div>
</div>