<div class="container">
  <div class="row center sign-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div class="row">
          <%= form_with(model: course, local: true, html: { class: "col s12" }) do |f| %>

            <div class="input-field col s12">
              <%= f.label :short_name %><br />
              <%= f.text_field :short_name, autofocus: true, required: true, disabled: !current_user.admin?, class:"materialize-textarea", maxlength:"4" %>
            </div>

            <div class="input-field col s12">
              <%= f.label :name %><br />
              <%= f.text_field :name, required: true, disabled: !current_user.admin?, class:"materialize-textarea", maxlength:"50" %>
            </div>

            <div class="input-field col s12">
              <%= f.label :description %><br />
              <%= f.text_area :description, id:"textarea2", class: "materialize-textarea", maxlength:"300" %>
            </div>

            <div class="input-field col s12">
              <div class=<%= 'disabled' if !current_user.admin? %>>
                <%= f.select :teacher_id, @teachers.collect { |t| [ t.email, t.id ] }, include_blank: true, prompt: 'Choose teacher' %>
                <label>Teacher</label>
              </div>
            </div>

            <button class="btn cyan darken-1 waves-effect waves-light" type="submit" name="action">Submit</button>
            <br/>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>