<h1>Enrollments</h1>
<table class='highlight centered'>
  <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
  <% @enrollments.each do |course| %>
    <tr>
      <td><%= course.short_name %></td>
      <td><%= course.name %></td>
      <td>
        <%= link_to '<i class="material-icons left">people</i>Enrolled students'.html_safe, enrolled_path(id: course.id), class:"waves-effect waves-light btn light-blue darken-1"%>
        <%= link_to '<i class="material-icons right">more_horiz</i>Detail'.html_safe, course_path(course), class:"waves-effect waves-light btn yellow darken-3"%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>