<h1>Enrolled students in <%= @course.name %></h1>
<table class='highlight centered'>
  <thead>
    <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Grade</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
  <% @enrolled.each do |student| %>
    <tr>
      <td><%= student.username %></td>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td>
        <div id='grade'>
          <%= student.grade_for(@course) %>
        </div>
      </td>
      <td>
        <% if current_user == @course.teacher %>
          <%= link_to '<i class="material-icons left">grade</i>Edit grade'.html_safe, edit_grade_path(course_id: @course.id, user_id: student.id), remote: true, class:"waves-effect waves-light btn light-blue darken-1"%>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>