<div class="row">
  <div class="col s12">
    <h1 class='center'>
      <%= @course.name %>
    </h1>
  </div>
  <div class="col s6">
    <div class="card-panel blue-grey darken-1">
      <span class="white-text">
        <p><b>Code: </b><%= @course.short_name %></p>
        <p><b>Course description: </b> <%= @course.description%></p>
        <p><b>Enrolled students: </b><%= @course.users.count %></p>
      </span>
    </div>
  </div>
  <div class="col s6 right-align">
    <% if user_signed_in? %>
      <% if current_user.teacher? %>
        <% if can? :enrolled, @course %>
          <%= link_to '<i class="material-icons left">people</i>Enrolled students'.html_safe, enrolled_path(id: @course.id), class:"waves-effect waves-light btn light-blue darken-1"%>
        <% end %>
        <% if can? :edit, @course %>
          <%= link_to '<i class="material-icons left">mode_edit</i>Edit'.html_safe, edit_course_path(@course), class:"waves-effect waves-light btn yellow darken-3"%>
        <% end %>
      <% end %>
      <% if current_user.admin? %>
        <a class="waves-effect waves-light btn red darken-3"><i class="material-icons left">delete_forever</i>Delete</a>
      <% end %>
    <% end %>
  </div>
  <div class="col s12">
    <h1 class='center'>
      Announcements
    </h1>
  </div>
</div>