@import 'materialize-css/dist/css/materialize';

html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-top: 40px;
}

.parallax-container {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.dropdown-content li>a {
  color: #fb8c00 !important;
}

.sign-form {
  padding-top: 28px;
}

.course-card {
  height: 200px;
}

.text-white {
  color: #fff;
}

 .course-card {
   min-height: 150px;
 }

 #home-container {
   padding-top: 250px;
 }

 .user-view {
   background-color: #00695c;
 }

 .toast-success {
  background-color: green !important;
 }

 .toast-error {
  background-color: red !important;
 }

.disabled {
  pointer-events: none;
  .select-dropdown {
    color: #9e9e9e;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.42) !important;
  }
}