<div class="container">
  <div class="row center sign-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div class="row">
          <%= form_with(model: [:admin, user], local: true, html: { class: "col s12" }) do |f| %>

            <div class="input-field col s6">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name, required: true, disabled: !current_user.admin?, class:"materialize-textarea", maxlength:"50" %>
            </div>

            <div class="input-field col s6">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name, required: true, disabled: !current_user.admin?, class:"materialize-textarea", maxlength:"50" %>
            </div>

            <div class="input-field col s6">
              <%= f.label :username %><br />
              <%= f.text_field :username, required: true, disabled: !current_user.admin?, class:"materialize-textarea", maxlength:"50" %>
            </div>

            <div class="input-field col s6">
              <div class=<%= 'disabled' if !current_user.admin? %>>
                <br />
                <%= f.select :role, options_for_select([:Student, :Teacher]), :include_blank => false, :prompt => 'Choose role' %>
              </div>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <button class="btn cyan darken-1 waves-effect waves-light" type="submit" name="action">Submit</button>
            <br/>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>