<h1>Users</h1>
<table class='highlight centered responsive-table'>
  <thead>
    <tr>
        <th>Email</th>
        <th>Role</th>
        <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.role.capitalize %></td>
      <td>
        <%= link_to '<i class="material-icons left">mode_edit</i>Edit'.html_safe, edit_admin_user_path(user), class:"waves-effect waves-light btn yellow darken-3"%>
        <%= link_to '<i class="material-icons left">delete_forever</i>Delete account'.html_safe, admin_user_path(user), class:"waves-effect waves-light btn red darken-3", data: { confirm: "Are you sure?" }, method: :delete%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>